<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>net.kanedo.openTabs</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>62FC07DA-B47F-4094-B511-E5134FD8E558</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9BE5C0DF-DECF-4E3E-974A-A3C82167C8FA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>01D2F5F6-A940-4973-AE23-BC3E58FE105D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E9F0FEC9-7719-4849-B18C-5C10A93B7427</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>62FC07DA-B47F-4094-B511-E5134FD8E558</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Gabriel Bretschner</string>
	<key>description</key>
	<string>Copies all open tabs of safari in markdown syntax</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>copy open tabs</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>function getPinnedTabs() {
		var _safariProc = Application("System Events").processes["Safari"];
		var _window = _safariProc.windows[0];
		var _tabGroup = _window.tabGroups[0];

		var _result = [];
		for (var i = 0; i &lt; _tabGroup.radioButtons.length; i++) {
			var _radioButton = _tabGroup.radioButtons[i];
			if (_radioButton.roleDescription() === "pinned tab") {
				_result.push(_radioButton.description());
			}
		};

		return _result;
	}

	function processTabs() {
		var _result = [];
		var _pinnedTabs = getPinnedTabs();
		var _safari = Application("Safari");
		var _window = _safari.windows[0];
		var _currentTabName = _window.currentTab().name();
		var footnoteIndex = 1;
		for (var i = _window.tabs.length-1; i &gt;= 0; i--) {
			var _tab = _window.tabs[i];
			var _tabName = _tab.name();
			if (_tabName !== _currentTabName &amp;&amp;
				_pinnedTabs.findIndex(function(item) {
					return item == _tabName;
				}) &lt; 0) {
				_result.push("["+footnoteIndex+"]: " + _tab.url())
				footnoteIndex += 1;
			};
		}
		return _result;
		
	}

function run(argv) {
  var query = argv[0];
  return processTabs().join("\n");
}</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>7</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>62FC07DA-B47F-4094-B511-E5134FD8E558</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>9BE5C0DF-DECF-4E3E-974A-A3C82167C8FA</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>link</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>copy open tabs as markdown links</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>E9F0FEC9-7719-4849-B18C-5C10A93B7427</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>copied all tabs to clipboard</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>01D2F5F6-A940-4973-AE23-BC3E58FE105D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>01D2F5F6-A940-4973-AE23-BC3E58FE105D</key>
		<dict>
			<key>xpos</key>
			<integer>630</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>62FC07DA-B47F-4094-B511-E5134FD8E558</key>
		<dict>
			<key>xpos</key>
			<integer>410</integer>
			<key>ypos</key>
			<integer>60</integer>
		</dict>
		<key>9BE5C0DF-DECF-4E3E-974A-A3C82167C8FA</key>
		<dict>
			<key>xpos</key>
			<integer>630</integer>
			<key>ypos</key>
			<integer>60</integer>
		</dict>
		<key>E9F0FEC9-7719-4849-B18C-5C10A93B7427</key>
		<dict>
			<key>xpos</key>
			<integer>120</integer>
			<key>ypos</key>
			<integer>60</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://blog.kanedo.net</string>
</dict>
</plist>
